.background_style {
  font-family: october;
  text-shadow: 0px 0px 8px #FF5B00;
  background: linear-gradient(0deg, #0F0F0F 23.37%, rgba(15, 15, 15, 0.00) 100%), url('../../assets/images/background.png'), lightgray -547.999px -171px / 158.056% 315.78% no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}