.card__content {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
}

.card__content--flipped {
  transform: rotateY(180deg);
}

.card__face--front {
  font-family: october;
  box-shadow: 0px 0px 8px 0px #B63C00;
  background: var(--dark-10);
  color: var(--brand-color);
}

.card__face--back {
  transform: rotateY(180deg);
}